<a href="https://colab.research.google.com/github/parkgeon0726/Colab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#1 내용에 일단 맞춰줌
for i in range(2,1001):
  flag = True
  for j in range(2,i):
      if(i % j == 0):
          flag = False
          break
  if(flag):
    print(i , end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [17]:
#2 정렬기준 추가
count = 0
for i in range(2,1001):
  flag = True
  for j in range(2,i):
      if(i % j == 0):
          flag = False
          break
  if(flag):
    print(i , end=" ")
    count += 1
    if(count % 7 == 0) :
      print()

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97 101 103 107
109 113 127 131 137 139 149
151 157 163 167 173 179 181
191 193 197 199 211 223 227
229 233 239 241 251 257 263
269 271 277 281 283 293 307
311 313 317 331 337 347 349
353 359 367 373 379 383 389
397 401 409 419 421 431 433
439 443 449 457 461 463 467
479 487 491 499 503 509 521
523 541 547 557 563 569 571
577 587 593 599 601 607 613
617 619 631 641 643 647 653
659 661 673 677 683 691 701
709 719 727 733 739 743 751
757 761 769 773 787 797 809
811 821 823 827 829 839 853
857 859 863 877 881 883 887
907 911 919 929 937 941 947
953 967 971 977 983 991 997

In [19]:
#2 파일관련 내용 추가
f = open("prime.txt" , "w")
count = 0
for i in range(2,1001):
  flag = True
  for j in range(2,i):
      if(i % j == 0):
          flag = False
          break
  if(flag):
    print(i , end=" ")
    data = "%d  " % i
    f.write(data)
    count += 1
    if(count % 7 == 0) :
      print()
      f.write("\n")
f.close()

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97 101 103 107
109 113 127 131 137 139 149
151 157 163 167 173 179 181
191 193 197 199 211 223 227
229 233 239 241 251 257 263
269 271 277 281 283 293 307
311 313 317 331 337 347 349
353 359 367 373 379 383 389
397 401 409 419 421 431 433
439 443 449 457 461 463 467
479 487 491 499 503 509 521
523 541 547 557 563 569 571
577 587 593 599 601 607 613
617 619 631 641 643 647 653
659 661 673 677 683 691 701
709 719 727 733 739 743 751
757 761 769 773 787 797 809
811 821 823 827 829 839 853
857 859 863 877 881 883 887
907 911 919 929 937 941 947
953 967 971 977 983 991 997

In [27]:
def multi(x, y):
    return x * y

count = 0
while True:
    a, b = map(int, input("두 개의 숫자를 띄어쓰기로 입력(종료: 0 0) ▶ ").split())
    if a == 0 and b == 0:
        break
    print(f"결과: {multi(a, b)}")
    count += 1
print(f"총 연산 횟수: {count}")

두 개의 숫자를 띄어쓰기로 입력(종료: 0 0) ▶ 8 8
결과: 64
두 개의 숫자를 띄어쓰기로 입력(종료: 0 0) ▶ 7 7
결과: 49
두 개의 숫자를 띄어쓰기로 입력(종료: 0 0) ▶ 118 119
결과: 14042
두 개의 숫자를 띄어쓰기로 입력(종료: 0 0) ▶ 0 0
총 연산 횟수: 3

In [92]:
import random

lst = [random.choice(range(3, 100, 3)) for _ in range(10)]
total = sum(lst)
avg = total / len(lst)
sorted_lst = sorted(lst, reverse=True)

print("========= 3의 배수 정렬 ==========")
print("리스트 내용 :", " ".join(map(str, lst)))
print("리스트 정렬 :", " ".join(map(str, sorted_lst)))
print(f"총합 : {total}")
print(f"평균 : {avg:.1f}")

========= 3의 배수 정렬 ==========
리스트 내용 : 96 60 9 51 18 3 33 33 60 96
리스트 정렬 : 96 96 60 60 51 33 33 18 9 3
총합 : 459
평균 : 45.9

In [108]:
import random

lst = []

while len(lst) < 10:
    a = random.randint(1, 100)
    if a % 3 == 0:
        lst.append(a)
print("============3의 배수 정렬=============")
print("리스트 내용 :", *lst)
lst.sort()
print("리스트 정렬 :", *lst)
print("총합 :",sum(lst))
print("평균 :", round(sum(lst) / len(lst), 1))

============3의 배수 정렬=============
리스트 내용 : 96 30 39 45 36 54 51 63 87 93
리스트 정렬 : 30 36 39 45 51 54 63 87 93 96
총합 : 594
평균 : 59.4

In [107]:
import random as r
import numpy as n

multiples = r.sample(range(3, 100, 3), 10)

print("========== 3의 배수 정렬 ==========")
print("리스트 내용 :", *multiples)
print("리스트 정렬 :", *sorted(multiples, reverse=True))
print("총합 :", sum(multiples))
print("평균 :", n.mean(multiples))

========== 3의 배수 정렬 ==========
리스트 내용 : 24 99 75 84 54 63 42 9 3 36
리스트 정렬 : 99 84 75 63 54 42 36 24 9 3
총합 : 489
평균 : 48.9